.service
	padding: 24px
	background-color: #fff
	border-radius: 8px
	display: grid
	grid-template-areas: 'avatar present price' 'contact contact review'
	grid-template-columns: 50px 1fr max-content
	gap: 20px 24px
	&_person
		gap: 40px 14px
	&__avatar
		grid-area: avatar
	&__present
		grid-area: present
	&__title
		font-size: 24px
		font-weight: 400
	&__name
		font-weight: 300
	&__price
		grid-area: price
		font-size: 24px
		text-align: right
	&__contacts
		grid-column: span 2
		display: flex
		flex-direction: column
		gap: 8px
	&__review
		grid-area: review
		display: flex
		gap: 16px
		justify-content: flex-end
		align-items: flex-end
	&__link
		position: relative
		display: flex
		align-items: center
		gap: 9px
		&::before
			content: ''
			display: block
			width: 24px
			height: 24px
			background-repeat: no-repeat
			background-size: contain
			background-position: center
		&_phone
			&::before
				background-image: url('img/phone.svg')
		&_email
			&::before
				background-image: url('img/email.svg')
	&__stars
		display: flex
		align-items: center
		gap: 2px
	&__count-review
		padding-left: 18px
		background: url('img/icon-comment.svg') left center no-repeat
